.dashboard__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.visualDisplay__container {
    display: flex; 
    flex-direction: column;
    cursor: pointer;
    padding: 0.5em;
    font-size: 7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.visualDisplay__container svg{
    font-size: 2rem;
    transform-origin: 200px 200px;
    position: absolute; 
    margin-top: -30px; 
    margin-left: -30px;
}

.visualDisplay__container svg.date{
    font-size: 1rem;
    transform: rotate(300deg);
    transition: 0.2s opacity;
}

.visualDisplay__container svg.frozen{
    transform: rotate(18deg);
}

.visualDisplay__container svg.animated{
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.visualDisplay__container svg.transparent{
    opacity: 0;
}

.visualDisplay__container svg.opaque{
    opacity: 1;
}

@keyframes rotate {
    from { transform: rotate(18deg); }
    to { transform: rotate(378deg); }
}

.visualDisplay_circle {
    width: 340px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    transition: background-color 0.5s;
}
